.section {
  width: 100%;
  padding-top: 200px;

  margin: auto;
  position: relative;
  h1 {
    color: #f4f4f4;
    font-size: 3.5em;
    text-transform: capitalize;
  }

  .content {
    margin: 150px 0 50px;
    padding: 60px 0 150px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-image: radial-gradient(
        rgb(128 147 255 / 0%) 0%,
        #7d9bfa 21.14%,
        #60dbd4b0 78.8%,
        rgb(92 228 207 / 0%) 100%
      )
      1;
    display: flex;
    column-gap: 10vw;
    .post a {
      > span {
        text-transform: capitalize;
        color: rgba(184, 184, 184, 0.7);
        font-size: 1.7em;
        display: block;
        margin: 0 0 90px;
      }
      h2 {
        margin: 50px 0;
        text-transform: capitalize;
        color: #f4f4f4;
        font-size: 3.3em;
        font-weight: 400;
        span {
          text-transform: capitalize;
          color: #b8b8b8;
          font-size: 0.5em;
          margin-right: 20px;
        }
      }
      div {
        position: relative;
        width: 50vw;
        max-width: 100%;
        height: 30vw;
      }
    }
    .topics {
      width: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        text-transform: capitalize;
        color: #f4f4f4;
        font-weight: 400;
        font-size: 1.7em;
        margin-bottom: 30px;
      }
      li a {
        margin-bottom: 15px;
        line-height: 26px;
        font-size: 1.3em;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        align-items: center;
        text-transform: capitalize;
        color: #b8b8b8;
        div {
          position: relative;
          width: 26px;
          height: 10px;
        }
        &:hover {
          color: #99a9ff;
        }
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    padding-top: 150px;
    h1 {
      font-size: 3em;
    }
    .content {
      margin: 75px 0 50px;
      flex-direction: column;
      padding: 40px 0 150px;

      .post a {
        span {
          margin: 0 0 40px;
        }
        div {
          width: 80vw;
          height: 40vh;
        }
      }
      .topics {
        margin-top: 35px;
        padding-left: 50px;
      }
    }
  }
}

@media screen and (max-width: "400px") {
  .section {
    font-size: 12px;
  }
}
