.section {
  transform: translateY(60%);
  opacity: 0;
  width: 90%;
  padding-top: 100px;
  margin: auto;
  position: relative;
  .firstP {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    h2 {
      flex: 1;

      color: #f4f4f4;
      font-size: 3em;
      text-transform: capitalize;
    }
    p {
      flex: 1;
      color: #b8b8b8;
      line-height: 24px;
    }
  }
  .filter {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    color: #707070;
    padding: 150px 0 20px;
    font-size: 1.5em;
    li {
      cursor: pointer;
      &[id="active"] {
        color: #b8b8b8;
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    li {
      height: 423px;
      width: 290px;
      max-width: 100%;
      position: relative;

      .image {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .content {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(#00000050, #00000094);

        span {
          letter-spacing: 0.3em;
          color: #b8b8b8;
          text-transform: uppercase;
          margin-bottom: 5px;
          height: 0;
          overflow: hidden;
          transition: 0.5s;
        }
        h4 {
          color: #f4f4f4;
          text-transform: capitalize;
          font-size: 3.5em;
          transition: 0.5s;
        }
        p {
          color: #b8b8b8;
          line-height: 24px;
          height: 0;
          margin: 22px 0;
          overflow: hidden;
          transition: 0.5s;
        }
        a {
          height: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          color: #99a9ff;
          letter-spacing: 1px;
          text-transform: uppercase;
          word-spacing: 5px;
          cursor: pointer;
          div {
            display: inline-block;
            position: relative;
            height: 24px;
            width: 24px;
            margin-left: 10px;
          }
        }
        &:hover {
          background-image: radial-gradient(#000000c0, #000000d8);
          align-items: initial;

          h4 {
            background: conic-gradient(
              from 180deg at 50% 50%,
              #66ffe6 -160.13deg,
              #8093ff 42.37deg,
              #66ffe6 199.87deg,
              #8093ff 402.37deg
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
          span {
            height: 16px;
          }
          p {
            height: 67px;
          }
          a {
            height: initial;
          }
        }
      }
    }
  }
  .arrows {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    div {
      position: relative;
      cursor: pointer;

      &:first-child {
        width: 30px;
        height: 20px;
        margin: 0 30px;
        &:hover {
          margin-right: 20px;
        }
      }
      &:last-child {
        width: 60px;
        height: 20px;
        &:hover {
          margin-left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    .firstP {
      flex-direction: column;
      padding-top: 100px;
    }
    .filter {
      flex-direction: column;
      align-items: flex-end;
      padding: 60px 0;
      li {
        &[id="active"] {
          background: linear-gradient(90deg, #7d9bfa 0%, #60dbd4 99.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
    .cards {
      flex-direction: column;
      align-items: center;
    }
    .arrows {
      justify-content: center;
    }
  }
}
