.section {
  margin: 130px 0;
  display: flex;
  transform: translateY(60%);
  opacity: 0;

  > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5.3vw;
    margin-left: 2vw;

    .topA,
    .bottomA {
      color: #99a9ff;
      margin: 20px 0;
      letter-spacing: 1px;
      word-spacing: 5px;
    }

    .bottomA {
      display: none;
    }

    h2 {
      font-weight: 600;
      font-size: 62px;
      line-height: 74px;
      text-transform: capitalize;
      color: #f4f4f4;
      margin-bottom: 40px;
    }

    p {
      color: #b8b8b8;
      line-height: 24px;
    }
  }

  .line {
    display: block;
    background-image: radial-gradient(
      #8fb3ff,
      rgb(90, 141, 253),
      rgb(90, 141, 253),
      rgba(52, 82, 248, 0)
    );
    // height: 100%;
    width: 2px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 20%;
      width: 100%;
      background-image: linear-gradient(to right, #1d1d1d13, #1d1d1d);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20%;
      width: 100%;
      background-image: linear-gradient(to left, #1d1d1d13, #1d1d1d);
    }
  }

  ul {
    width: 50%;
    color: #b8b8b8;
    text-transform: capitalize;

    display: grid;

    grid-template-areas:
      "li li"
      "li li";
    grid-auto-columns: 47%;
    column-gap: 6%;
    margin-right: 60px;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;

      h3 {
        font-size: 26px;
        margin: 20px 0 10px;
      }

      span {
        margin-bottom: 20px;
      }

      div {
        position: relative;
        width: 100%;
        height: 300px;
        // margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: "650px") {
  .section {
    flex-direction: column;

    > div {
      padding: 0;
      width: 100%;

      h2 {
        font-size: 36px;
        margin-bottom: 15px;
      }

      .topA {
        display: none;
      }

      .bottomA {
        display: block;
      }
    }

    .line {
      display: none;
    }

    ul {
      width: 100%;
      margin: 0 0 60px;

      li {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
