.section {
  transform: translateY(60%);
  opacity: 0;
  width: 70%;
  margin: 100px 15% 0 10%;
  position: relative;
  h4 {
    color: #b8b8b8b2;
    line-height: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 50px 0 20px;
  }
  p {
    color: #b8b8b8;
    line-height: 24px;
  }
  a {
    margin-top: 100px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #99a9ff;
    div {
      position: relative;
      margin-left: 15px;
      height: 10px;
      width: 25px;
      transition: 0.2s;
    }
    &:hover {
      div {
        transform: translateX(20px);
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    margin: 100px auto 0;

    font-size: 16px;
  }
}
