.section {
  transform: translateY(60%);
  opacity: 0;
  width: 80%;
  margin: 100px auto 0;
  position: relative;

  ul {
    display: grid;
    grid-template-areas: "item item item item";
    padding: 20px 0;

    li {
      text-transform: capitalize;
      padding: 0 30px;
      border-right: 1px solid;
      border-image: radial-gradient(
          rgba(128, 147, 255, 0) 0%,
          #7d9bfa 21.14%,
          #60dbd4 78.8%,
          rgba(92, 228, 207, 0) 100%
        )
        1;
      &:last-of-type {
        border: none;
      }
      h4 {
        line-height: 26px;
        font-size: 1.4em;
        font-weight: 400;
        color: #b8b8b8b2;
      }
      p {
        margin-top: 15px;
        color: #b8b8b8;
        line-height: 24px;
        font-size: 1.4em;
        font-weight: 600;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  border: 1px solid #7c96a7;
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    ul {
      grid-template-areas:
        "item item "
        " item item";
      grid-row-gap: 70px;
      padding: 60px 0;
      li {
        padding: 5px 0px;
      }
    }
  }
}
