.footer {
  margin: 130px 0;

  .weHelp {
    display: flex;
    justify-content: space-between;
    > div {
      width: 50%;
      h2 {
        font-size: 62px;
        line-height: 74px;
        margin: 20px 0;
        text-transform: capitalize;
        background-image: linear-gradient(to bottom, #aae3ef, #5eadf7, #369eff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        color: #b8b8b8;
        width: 80%;
      }
    }
    form {
      width: 45%;
      div {
        margin-bottom: 35px;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border-right: none;
          border-top: none;
          border-left: none;
          border-bottom: 1px solid #565656;
          padding: 10px 10px 10px 30%;
          color: #f4f4f4;
          font-size: 22px;
          &:focus-visible {
            outline: none;
            background-color: #2a2a2a;
          }
        }
        label {
          position: absolute;
          display: block;
          color: #b8b8b8;
          text-transform: capitalize;
          top: 1px;
          left: 0;
          height: 100%;
          width: 15%;
          padding: 10px;
          border-bottom-width: 3px;
          border-top-width: 0px;
          border-style: solid;
          border-image: linear-gradient(to right, #7d9bfa, #60dbd4) 1 0%;
          margin-left: 10%;
        }
      }
      span {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        input {
          color: #99a9ff;
          margin: 20px 0;
          letter-spacing: 1px;
          text-transform: uppercase;
          word-spacing: 5px;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
        svg {
          color: #99a9ff;
          transition: 0.2s;
          margin: 5px;
        }
        &:hover {
          svg {
            transform: translatex(20px);
          }
        }
      }
    }
  }

  .socialMedia {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    li {
      width: 45%;
      color: #b8b8b8;
      display: flex;
      flex-wrap: wrap;
      letter-spacing: 4px;

      a {
        padding: 10px 20px 0 0;
      }
    }
  }
  .allRights {
    .line {
      display: block;
      margin: 80px 0 40px;

      background-image: radial-gradient(
        #8fb3ff,
        rgb(90, 141, 253),
        rgb(90, 141, 253),
        rgba(52, 82, 248, 0)
      );
      height: 1px;
      width: 100%;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 20%;
        background-image: linear-gradient(to right, #1d1d1d13, #1d1d1d);
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 20%;
        background-image: linear-gradient(to left, #1d1d1d13, #1d1d1d);
      }
    }
    p {
      line-height: 18px;
      letter-spacing: 0.3em;
      text-transform: capitalize;
      text-align: center;
      color: #b8b8b8;
      span {
        color: #99a9ff;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: "800px") {
  .footer {
    margin-top: 50px;
    .weHelp {
      flex-direction: column;
      > div {
        width: 100%;
        padding-bottom: 100px;
        padding-bottom: 60px;
        h2 {
          line-height: 44px;
          font-size: 36px;
        }
      }
      form {
        width: 100%;
        div {
          input {
            font-size: 16px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
    .socialMedia {
      flex-direction: column;
      margin-top: 20px;
      li {
        width: 100%;
        justify-content: space-evenly;
        font-size: 12px;
        a {
          padding: 10px;
        }
      }
    }
  }
}
