@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url(../../fonts/Gilroy-Medium/Gilroy-Medium.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}
.section {
  background: #232526;
  width: 90%;
  margin: 50px auto;
  display: flex;
  padding: 10px 10%;
  h1 {
    width: 20%;
    color: #7c96a7;
    font-size: 8em;
    display: flex;
    flex-direction: column;
    > span {
      font-family: "Gilroy-Medium", cursive;
      color: #232526;
      text-shadow: 4px 0px 0px #7c96a7, -4px 0px 0px #7c96a7,
        4px 4px 0px #7c96a7, -4px 4px 0px #7c96a7, 4px -4px 0px #7c96a7,
        -4px -4px 0px #7c96a7;
    }
  }
  > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 5em;
      display: flex;
      flex-direction: column;
      color: #b8b8b8;
      text-transform: capitalize;
    }
    p {
      color: #b8b8b8;
      font-size: 1.5em;
      padding: 8% 0;
      font-weight: 600;
    }
    div {
      color: #99a9ff;
      font-size: 1.5em;
      font-weight: 600;
      display: flex;
      align-items: center;
      svg {
        margin: 0 10px;
        transition: 0.5s;
      }
      &:hover {
        svg {
          margin-right: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    font-size: 12px;
    width: 100%;
  }
}
