.section {
  width: 90%;
  padding-top: 60px;

  margin: auto;
  position: relative;
  div {
    position: relative;
    width: 100%;
    height: 40vw;
    &:after {
      background-color: #000000;
      content: "";
      display: block;
      filter: opacity(0.5);
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      position: absolute;
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 7vw;
    color: #f4f4f4;
    padding: 0 13% 6%;
    text-transform: capitalize;
    span {
      display: block;
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    div {
      height: 60vw;
    }
    h1 {
      font-weight: 400;
      font-size: 9vw;
    }
  }
}
