@keyframes slideFromTheTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.MobileLL {
  display: none;
}
.MobileLL[id="active"] {
  display: block;
}

.header {
  transition: 1s;
  animation-name: slideFromTheTop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: #232526;
  display: flex;
  justify-content: space-between;
  padding: 18px 5%;
  color: #f4f4f4;
  font-weight: 300;
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    button {
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
      font-size: inherit;
    }
  }
  .logoImage {
    position: relative;
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    margin-top: 0;
    width: 100%;

    .Ul {
      display: none;
    }
    .logoImage {
      position: relative;
      width: 20px;
      height: 20px;
    }
  }
}
