.section {
  width: 100%;
  margin: auto;
  position: relative;
  height: 800px;

  > span {
    text-transform: capitalize;
    font-size: 1.6em;
    color: #b8b8b8;
    display: block;
  }
  ul {
    display: flex;
    position: absolute;
    top: 120px;
    left: -200px;
    gap: 60px;
    transition: 0.1s;

    li {
      width: 450px;
      .image {
        position: relative;
        width: 100%;
        padding: 30% 0;
      }
      .title {
        margin-top: 25px;
        padding-right: 30px;
        span {
          text-transform: capitalize;
          color: #b8b8b8;
          font-size: 1.3em;
          margin-right: 20px;
        }
        h3 {
          display: inline;
          margin: 50px 0;
          text-transform: capitalize;
          color: #f4f4f4;
          font-size: 2.5em;
          font-weight: 400;
        }
      }
    }
  }
  border-bottom: 1px solid;
  border-image: radial-gradient(
      rgb(128 147 255 / 0%) 0%,
      #7d9bfa 21.14%,
      #60dbd4b0 78.8%,
      rgb(92 228 207 / 0%) 100%
    )
    1;
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    height: initial;
    padding-bottom: 150px;

    span {
      margin-bottom: 80px;
    }
    ul {
      flex-direction: column;
      position: initial;
      align-items: center;
      gap: 100px;
      li {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: "400px") {
  .section {
    font-size: 12px;
  }
}
