.section {
  transform: translateY(60%);
  opacity: 0;
  width: 90%;
  padding-top: 100px;
  margin: auto;
  position: relative;

  span {
    letter-spacing: 0.3em;
    margin-bottom: 5px;
    color: #b8b8b8;
    text-transform: uppercase;
  }
  h3 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 4em;
    padding: 20px 0;
  }
  p {
    color: #b8b8b8;
    padding-bottom: 80px;
    width: 700px;
    max-width: 100%;
    line-height: 24px;
  }
  .Images {
    position: relative;
    width: 100%;
    height: 37vw;
    .first {
      width: 20%;
      height: 18vw;
      top: 5vw;
      position: absolute;
      z-index: 1;
    }
    .secund {
      position: absolute;
      background-color: #232526;
      width: 27%;
      height: 27vw;
      left: 16%;
      bottom: 0;
    }
    .third {
      width: 65%;
      height: 30vw;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;

    .Images {
      height: 55vw;
      .first {
        width: 43%;
        height: 46vw;
        top: 17vw;
      }
      .secund {
        display: none;
      }
      .third {
        width: 100%;
        height: 45vw;
      }
    }
  }
}
