.section {
  transform: translateY(60%);
  opacity: 0;
  position: relative;
  margin: 25px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 60px;
  .images {
    position: relative;
    margin-top: 40px;
  }
  .rightImage {
    position: relative;
    width: 35vw;
    margin: auto auto auto 7vw;
    height: 35vw;
  }
  .leftImage {
    width: 50%;
    margin: auto;
    height: 28vw;
    position: absolute;
    top: 3vw;
    left: 0;
  }

  .textContent {
    color: #f4f4f4;
    width: 100%;
    max-width: 425px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    span {
      color: #b8b8b8;
      letter-spacing: 0.3em;
      margin-bottom: 5px;
    }
    h3 {
      font-weight: 400;
      font-size: 42px;
    }
    p {
      color: #b8b8b8;
      line-height: 24px;
      margin: 20px 0;
    }
    a {
      color: #99a9ff;
    }
  }
}
@media screen and (max-width: "650px") {
  .section {
    flex-direction: column;
    align-items: stretch;

    .textContent {
      margin-top: 25px;

      h3 {
        font-size: 36px;
      }
    }

    .rightImage {
      width: 85%;
      margin-right: 15%;
      height: 60vw;
    }
    .leftImage {
      width: 40%;
      height: 60vw;
      top: 9vw;
    }
  }
}
