.section {
  transform: translateY(60%);
  opacity: 0;
  width: 100%;
  margin: 230px auto 0;
  position: relative;

  .titleSave {
    display: flex;
    justify-content: space-between;
    .title {
      flex: 2;
      > span {
        line-height: 18px;
        letter-spacing: 0.3em;
        text-transform: capitalize;
        color: #b8b8b8b2;
      }
      h2 {
        text-transform: capitalize;
        color: #f4f4f4;
        font-size: 3.5em;
        font-weight: 400;
        span {
          display: block;
        }
      }
    }
    .saveShare {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      gap: 20px;
      span {
        display: flex;
        gap: 10px;
        align-items: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #b8b8b8;
        line-height: 17px;
        cursor: pointer;
        &:first-of-type {
          img {
            border: 1px solid #99a8ff3f;
          }
        }
        &:last-of-type {
          img {
            border: 1px solid #b8b8b83f;
          }
        }
        img {
          padding: 2px;
        }
        &:active {
          img {
            border: none;
          }
        }
      }
    }
  }

  .dateWriter {
    line-height: 24px;
    text-transform: capitalize;
    color: #b8b8b8;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1.1em;
  }

  padding-bottom: 40px;
  border-bottom: 1px solid;
  border-image: radial-gradient(
      rgba(128, 147, 255, 0) 0%,
      #7d9bfa 21.14%,
      #60dbd4 78.8%,
      rgba(92, 228, 207, 0) 100%
    )
    1;
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    .titleSave {
      .saveShare {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .dateWriter {
      flex-direction: column;
      row-gap: 10px;
    }
  }
}
