.section {
  margin: 130px 0;
  transform: translateY(60%);
  opacity: 0;

  h2 {
    font-weight: 600;
    font-size: 62px;
    color: #f4f4f4;
    margin-bottom: 40px;
    padding: 35px;
  }
  ul {
    color: #b8b8b8;
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 21%;
      min-width: 240px;
      display: block;
      padding: 35px;
      &:hover {
        background: #30363a33;
      }
      div {
        position: relative;
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-right: 5px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: "650px") {
  .section {
    h2 {
      font-size: 36px;
    }
    ul {
      font-size: 25px;
      li {
        padding: 20px;
        min-width: 160px;
      }
      div {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}
