.section {
  transform: translateY(60%);
  opacity: 0;
  position: relative;
  margin-bottom: 20vw;
  .rightImage {
    position: relative;
    width: 78%;
    margin: auto 7% auto auto;
    height: 30vw;
  }
  .leftImage {
    width: 20%;
    margin: auto;
    height: 22vw;
    position: absolute;
    top: 4vw;
    right: 0;
  }

  .textContent {
    color: #f4f4f4;
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    gap: 5vw;

    position: absolute;
    top: 100%;
    margin-top: -175px;
    h2 {
      font-weight: 600;
      font-size: 62px;
    }
    p {
      color: #b8b8b8;
      line-height: 24px;
    }
    a {
      color: #99a9ff;
    }
  }
}
@media screen and (max-width: "650px") {
  .section {
    margin-bottom: 0;
    .textContent {
      position: relative;
      margin-top: 25px;

      h2 {
        font-size: 36px;
      }
    }

    .rightImage {
      width: 93%;
      height: 40vw;
    }
    .leftImage {
      width: 25%;
      height: 30vw;
      top: 5vw;
    }
  }
}
