.section {
  transform: translateY(60%);
  opacity: 0;
  width: 90%;
  padding-top: 90px;
  margin: auto;
  position: relative;
  h2,
  p {
    width: 75%;
    margin: auto;
  }
  p {
    color: #b8b8b8;
    line-height: 24px;
    padding-top: 2em;
  }
  h2 {
    font-size: 4em;
    text-transform: capitalize;
    color: #f4f4f4;
    padding-bottom: 1em;
  }
  .title {
    letter-spacing: 0.3em;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
    padding-top: 60px;
    h2,
    p {
      width: 90%;
      margin: auto;
    }
    h2 {
      font-size: 3em;
    }
  }
}
