.section {
  width: 100%;
  transform: translateY(60%);
  opacity: 0;
  padding-left: 10%;
  margin: 175px 0 80px 0;
  position: relative;
  display: grid;
  grid-template-areas:
    "item item"
    "item item";
  gap: 80px;
  div {
    position: relative;
  }
  .topLeft {
    padding: 4vw;

    span {
      letter-spacing: 0.3em;
      margin-bottom: 5px;
      color: #b8b8b8;
      text-transform: uppercase;
    }
    h2 {
      color: #f4f4f4;
      text-transform: capitalize;
      font-size: 3.1em;
    }
  }
  .topRight {
    position: relative;
    width: 42vw;
    height: 23vw;
  }
  .bottomLeft {
    padding: 4vw;
    p {
      line-height: 24px;
      color: #b8b8b8;
      padding-bottom: 40px;
    }
    h3 {
      padding: 20px 0;
      line-height: 18px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      font-size: 1em;
      color: rgba(184, 184, 184, 0.7);
    }
    a {
      color: #99a9ff;
      margin: 20px 0;
      letter-spacing: 1px;
      text-transform: uppercase;
      word-spacing: 5px;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      div {
        position: relative;
        width: 26px;
        height: 12px;
      }
      &:hover {
        div {
          transform: translatex(20px);
        }
      }
    }
  }
  .bottomRight {
    margin: auto;
    width: 25vw;
    height: 27.1vw;
  }

  .line {
    position: absolute;
    height: 100%;
    width: 30px;
    display: block;
    right: 42vw;
    top: 0px;
    border-right: 1px solid;
    border-image: radial-gradient(
        rgba(128, 147, 255, 0) 0%,
        #7d9bfa 21.14%,
        #60dbd4 78.8%,
        rgba(92, 228, 207, 0) 100%
      )
      1;
  }
  .line1 {
    position: absolute;
    height: 30px;
    width: 100%;
    display: block;
    right: 0px;
    top: 0px;
    border-top: 1px solid;
    border-image: radial-gradient(
        rgba(128, 147, 255, 0) 0%,
        #7d9bfa 21.14%,
        #60dbd4 78.8%,
        rgba(92, 228, 207, 0) 100%
      )
      1;
  }
  .line2 {
    position: absolute;
    height: 30px;
    width: 100%;
    display: block;
    right: 0px;
    top: 23vw;
    border-top: 1px solid;
    border-image: radial-gradient(
        rgba(128, 147, 255, 0) 0%,
        #7d9bfa 21.14%,
        #60dbd4 78.8%,
        rgba(92, 228, 207, 0) 100%
      )
      1;
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    margin: 120px auto -60px;
    padding-left: 0;
    font-size: 14px;
    .line,
    .line1,
    .line2 {
      display: none;
    }
    grid-template-areas:
      "item"
      "item"
      "item";
  }
  .topRight {
    width: 100% !important;
    height: 50vw !important;
  }
  .bottomRight {
    display: none;
  }
}
