.section {
  width: 100%;
  margin: auto;

  margin-top: 80px;

  > span {
    text-transform: capitalize;
    font-size: 1.6em;
    color: #b8b8b8;
    display: block;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 60px;
    transition: 0.1s;

    li {
      width: 350px;
      .image {
        position: relative;
        width: 100%;
        padding: 30% 0;
      }
      .title {
        margin-top: 25px;
        padding-right: 30px;
        span {
          text-transform: capitalize;
          color: #b8b8b8;
          font-size: 1.3em;
          margin-right: 20px;
        }
        h3 {
          display: inline;
          margin: 50px 0;
          text-transform: capitalize;
          color: #f4f4f4;
          font-size: 2.5em;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 90%;
    font-size: 14px;
    height: initial;
    padding-bottom: 150px;

    span {
      margin-bottom: 80px;
    }
    ul {
      flex-direction: column;
      position: initial;
      align-items: center;
      gap: 100px;
      li {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: "400px") {
  .section {
    font-size: 12px;
  }
}
