.section {
  margin: 130px 0 100px;
  transform: translateY(60%);
  opacity: 0;
  h2 {
    color: #f4f4f4;
    font-size: 62px;
    line-height: 74px;
    margin: 20px 0;
  }
  .content {
    margin: 50px 0;
    display: flex;
    column-gap: 10%;
    .portfolioJobs {
      flex: 3;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 30px 0;
        div {
          > span {
            color: #b8b8b8b2;
            letter-spacing: 0.3em;
            text-transform: uppercase;
          }
          h3 {
            font-size: 44px;
            font-weight: 400;
            text-transform: capitalize;
            color: #f4f4f4;
            span {
              display: block;
            }
          }
          p {
            color: #b8b8b8;
            text-transform: capitalize;
          }
        }
        svg {
          color: #5ce4cf;
          font-size: 30px;
          transition: 0.2s;
        }
        &:hover {
          svg {
            transform: translatex(20px);
          }
        }
        &:nth-of-type(2n) {
          border-bottom-width: 1px;
          border-top-width: 1px;
          border-style: solid;
          border-image: linear-gradient(to right, #7d9bfa, #60dbd4) 1 0%;
        }
      }
    }
    .tags {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h3 {
        font-size: 26px;
        color: #f4f4f4;
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: 50px;
      }
      ul {
        text-transform: capitalize;
        li {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            font-size: 22px;
            color: #b8b8b8;
          }
          svg {
            color: #5ce4cf;
            transition: 0.2s;
          }
        }
      }
    }
  }
  .line {
    display: block;
    background-image: radial-gradient(
      #8fb3ff,
      rgb(90, 141, 253),
      rgb(90, 141, 253),
      rgba(52, 82, 248, 0)
    );
    height: 1px;
    width: 100%;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 20%;
      background-image: linear-gradient(to right, #1d1d1d13, #1d1d1d);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 20%;
      background-image: linear-gradient(to left, #1d1d1d13, #1d1d1d);
    }
  }
  .nextJobs {
    display: flex;
    align-items: center;

    a {
      color: #99a9ff;
      margin: 20px 0;
      letter-spacing: 1px;
      text-transform: uppercase;
      word-spacing: 5px;
    }
    svg {
      color: #99a9ff;
      font-size: 22px;
      transition: 0.2s;
      margin: 10px;
    }
    &:hover {
      svg {
        transform: translatex(20px);
      }
    }
  }
}
@media screen and (max-width: "650px") {
  .section {
    h2 {
      font-size: 42px;
      line-height: 56px;
    }
    .content {
      flex-direction: column-reverse;
      .portfolioJobs {
        li {
          padding: 35px 0;
          div {
            > span {
              font-size: 12px;
            }
            h3 {
              font-size: 26px;
              line-height: 30px;
              margin: 10px 0 20px;
            }
            p {
              font-size: 12px;
              line-height: 16px;
            }
          }
          svg {
            font-size: 24px;
          }
        }
      }
      .tags {
        margin: 10px 0 40px;
        padding: 0 10%;
        h3 {
          margin-bottom: 40px;
        }
        ul {
          li a {
            font-size: 20px;
          }
        }
      }
    }
  }
}
