@keyframes slide {
  0% {
    transform: scale(0.8);
    top: 50px;
  }
  50% {
    transform: scale(0.8);
    top: 150px;
  }
  100% {
    transform: scale(1);
  }
}

.MoreLinks {
  display: none;
  .close {
    position: absolute;
    top: 60px;
    right: 10%;
    cursor: pointer;
    font-weight: 600;
  }
}
.MoreLinks[id="active"] {
  animation: 0.6s ease-in-out 0s 1 normal forwards running slide;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1;
  top: 140px;
  padding: 60px 12%;
  width: 100%;
  background-color: white;

  li {
    text-transform: uppercase;
    padding: 10px;
    &:first-of-type {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 650px) {
  .MoreLinks[id="active"] {
  }
}
