.section {
  transform: translateY(60%);
  opacity: 0;
  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  h2 {
    color: #f4f4f4;
    font-size: 62px;
    flex: 1.5;
    span {
      display: block;
    }
  }
  p {
    flex: 1;
    color: #b8b8b8;
    line-height: 24px;
    max-width: 425px;
  }
}
@media screen and (max-width: "650px") {
  .section {
    gap: 15px;

    h2 {
      font-size: 36px;
    }
    flex-direction: column;
  }
}
