@keyframes slideFromTheTop {
  0% {

    opacity: 0;
  }
 
  100%{
    opacity: 1;

  }
}
.section {
  
  animation-name: slideFromTheTop;
  animation-duration: 2s;
  
  

  margin-top: 18vw;
  font-weight: bold;
  color: #f4f4f4;
  text-align: center;
  letter-spacing: 2px;
  margin: 200px 0;
  padding-top: 60px;
  h1 {
    font-size: 74px;
  }
  span {
    display: block;
    &:nth-of-type(2) {
      background-image: linear-gradient(to left, #b3f2ff, #57acfb);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  div {
    position: relative;
    height: 60px;
    margin: 120px 0 0;
  }
}
@media screen and (max-width: "650px") {
  .section {
    margin: 10px 0 100px 0;
    h1 {
      font-size: 42px;
    }
    span {
      display: inline;
    }
    div {
      height: 42px;
      margin: 50px 0 0;
    }
  }
}
