.section {
  transform: translateY(60%);
  opacity: 0;
  width: 90%;
  padding-top: 80px;
  margin: auto;
  position: relative;

  ul {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
    flex-wrap: wrap;

    li {
      width: 300px;
      padding-top: 20px;
      span {
        color: #b8b8b8;
        font-size: 1.5em;
        padding: 20px;
        display: block;
      }
      p {
        color: #f4f4f4;
        font-size: 2.3em;
        padding: 20px;
        text-transform: capitalize;
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .section {
    width: 100%;
    font-size: 14px;
  }
}
