* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ginora Sans", "Londrina Outline", "Courier New", Courier,
    monospace;
}
body {
  background-color: #1d1d1d;
  background-image: url(../public/background.svg);
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Ginora Sans";
  src: local("Ginora Sans"),
    url(../fonts/ginora_sans/Ginóra\ Sans\ Light.otf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #383838;
}

body::-webkit-scrollbar-thumb {
  background: rgb(172 221 255);
}

@keyframes slideFromTheTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
