.line {
  display: block;
  background-image: radial-gradient(
    #8fb3ff,
    rgb(90, 141, 253),
    rgb(90, 141, 253),
    rgba(52, 82, 248, 0)
  );
  height: 1px;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to right, #1d1d1d13, #1d1d1d);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to left, #1d1d1d13, #1d1d1d);
  }
}
