.main {
  .button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #99a9ff;
    cursor: pointer;
    margin: 200px auto;
    display: flex;
    align-items: center;

    div {
      position: relative;
      margin-left: 15px;
      height: 10px;
      width: 25px;
      transition: 0.2s;
    }
    &:hover {
      div {
        transform: translateX(20px);
      }
    }
  }
}
